<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="secondary">
            <h3>Registro</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="Email" fill="outline" label-placement="floating" placeholder="perez@email.com"
                     formControlName="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="password" label="Password" label-placement="floating" formControlName="password"
                     fill="outline">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button [disabled]="!registerForm.valid" type="submit">Crear cuenta</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-text routerLink="/login" color="secondary">ya tengo una cuenta</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>
